.*~
~
Makefile
autom4te.cache/*
config.h
config.log
config.status
doc/Makefile
doc/html/Makefile
man/Makefile
optionmatrix-1.4.2.tar.gz
src/common/Makefile
src/curses/Makefile
src/gtk/Makefile
src/models/financialrecipes/examples/Makefile
src/models/financialrecipes/src/Makefile
src/models/metaoptions/src/Makefile
src/models/metaoptions/tests/Makefile
